html, body {
font-family: 'Open Sans', sans-serif; color: #fff; 
margin: 0;
background: #494949;
}

.wrap {
width: auto;
overflow: hidden;
margin: 0 20px 0 0;
}

h2 {
margin: 12px 0 4px 0;
}

h3 {
margin: 12px 0 0 0;
}

img {
max-height: 150px;
max-width: 340px;
display: block;
margin: 0 0 8px 0;
}

input[type="file"] {
font-size: 1.2em;
}

input[type="image"] {
font-size: 1.2em;
background: transparent;
border: none;
}

.btnDiv:hover {
background: #292929;
}

br {
clear: both;
}

.fileBtnContainer {
height: 50px;
width: 134px;
background: #494949;
color: #fff;
font-weight: 600;
font-size: 1.2em;
-webkit-border-radius: 12px;
-moz-border-radius: 12px;
border-radius: 12px; 
position: relative;
overflow: hidden;
margin: 8px 0 0 0;
float: left;
}

input[type="submit"] {
height: 50px;
width: 130px;
cursor: pointer;
background: #494949;
border: 3px solid #292929;
color: #fff;
font-weight: 600;
font-size: 1.2em;
padding: 8px;
-webkit-border-radius: 12px;
-moz-border-radius: 12px;
border-radius: 12px; 
position: relative;
overflow: hidden;
margin: 8px 0 0 12px;
float: left;
}

.fileBtnContainer:hover, input[type="submit"]:hover {
background: #292929;
}

#fileUpload {
display: block;
height: 100%;
cursor: pointer;
}

.currentImageInfo {
margin: 0 0 8px 0;
}

.selectFileText {
position:absolute;
padding: 9px;
border: 3px solid #292929; 
-webkit-border-radius: 12px;
-moz-border-radius: 12px;
border-radius: 12px; 
}

.transition {
-webkit-transition: all .4s linear;
-moz-transition: all .4s linear;
-o-transition: all .4s linear;
-ms-transition: all .4s linear;
transition: all .4s linear;
}

.fade {
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
filter: alpha(opacity=0);
-moz-opacity: 0;
-khtml-opacity: 0;
opacity: 0;
}

.galleryDisplay {
border: 3px dashed transparent;
margin: 2px;
padding: 8px;
box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
overflow: hidden;
text-align: center;
-webkit-border-radius: 12px;
border-radius: 12px;
-moz-border-radius: 12px;
position: relative;
}

.galleryDisplay:hover {
border: 3px dashed #292929; 
}

.galleryDisplayActive {
border: 3px dashed #8ac53e; 
}

.galleryDisplay img {
margin: 0 auto;
}

.galleryDisplay p {
margin: 0;
padding: 0;
}

.galleryManagerMenu {
list-style: none;
margin: 0px;
padding: 0;
height: 35px;
}

.galleryManagerMenu li {
font-weight: 600;
float: left;
padding: 2px 4px 4px 0px;
margin: 4px;
}

.galleryManagerMenu li a {
text-decoration: none;
color: #fff;
}

.galleryManagerMenu li a:hover, .galleryManagerMenu li .active {
text-decoration: underline;
}

form {
float: left;
}

.galleryDisplay input {
	position: absolute;
	bottom: 8px;
	left: 8px;
	border: none;
	background: #8ac53e;
	height: 32px;
	width: 32px;
	border-radius: 32px;
	-moz-border-radius: 32px;
	-webkit-border-radius: 32px;
	color: #fff;
	font-weight: 600;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	-khtml-opacity: 0;
	opacity: 0;
}

.galleryDisplayActive input {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
}